@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');
* {
  box-sizing: border-box;
}

html {
  background: #172344;
}

body {
  position: relative;
  background-color: #172344;
  background-image: url('../static/bg.png');
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  margin: 0;
  color: #ebe8ef;
  font-family: 'Fira Code', monospace;
  font-size: 18px;
  line-height: 1.4;
}

a {
  cursor: pointer;
}

a:focus {
  outline: 0;
}

p a {
  display: inline-block;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  border-bottom: 2px solid #fff922;
  line-height: 1;
  transition: all 0.3s linear;
}

p a:hover,
p a:focus {
  border-color: #ff00aa;
}

ul {
  line-height: 1.5;
}

img {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3 {
  margin: 0;
}

button {
  font: inherit;
  outline: 0;
  color: inherit;
  border: 0;
  background: 0;
}

.layout-wrapper {
  position: relative;
  display: flex;
}

.content-wrapper {
  max-width: 800px;
  padding: 2rem 1rem;
  width: 100%;
}

.btn-toggle {
  display: none;
  position: fixed;
  bottom: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0;
  background: #ff00aa;
  z-index: 1000;
}

.button-toggle:focus {
  color: #ff00aa;
  background: #fff922;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .layout-wrapper {
    display: block;
  }
  .btn-toggle {
    display: initial;
  }
}

@media screen and (max-width: 350px) {
  body {
    font-size: 16px;
  }
}